Flask
Flask-PyMongo
Flask-CORS
Flask-JWT-Extended
python-dotenv
gunicorn
pymongo[srv]
flask-bcrypt
marshmallow
fastapi
uvicorn[standard]
motor
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
email-validator
